.navbar {
    background-color: rgb(228, 241, 253);
    display: flex;
}

#intro {
    padding: 50px;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
}

#intro h1 {
    padding: 50px;
    margin: 25px;
}

#aboutme h3{
    padding: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#aboutme {
    padding-bottom: 25px;
}

#main_body {
    background-color: rgb(167, 221, 221);
    box-sizing: border-box;
    width: 100%;
    border: hidden;
    padding: 35px;

}

#skills h3{
    box-sizing: content-box;
    box-shadow: 10px 5px 3px green;
    border: 5px white solid;
    background-color: whitesmoke;
}

#contactme {
    margin: 35px;
    padding: 25px;
    text-align: center;
    font: 1em sans-serif;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#contactme p {
    justify-content: center;
}

.footer-nav {
    background-color: rgb(228, 241, 253);
    padding: 2%;
}

.social-icons a {
    text-decoration: none;
    display: block;
    color: black;
}
.social-icons a:hover {
    color: rgb(143, 187, 226);
}


.footer-links a {
    text-decoration: none;
    display: block;
    color: black;
}

.footer-links a:hover {
    color: rgb(143, 187, 226);
}

.footer-links p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-bottom: 25px;
    color: blue;
    
}
